# 필요한 모듈 import

In [1]:
import pandas as pd
import seaborn as sns

## 예제 데이터셋 가져오기

In [2]:
tips = sns.load_dataset('tips')

# Exercises

* DataFrame의 row, column 개수
* DataFrame의 컬럼 이름
* DataFrame에서 첫 5개 row 출력
* DataFrmae에서 마지막 5개 row 출력
* DataFrame의 요약 정보 출력
* DataFrame에서 숫자 타입 변수들의 기술 통계량 출력
* DataFrame에서 카테고리 타입 변수들의 빈도수 출력
* total_bill 컬럼의 값이 최댓값인 행을 출력
* total_bill 컬럼의 값이 최솟값인 행을 출력
* 남성(sex)들의 팁(tip)의 평균 출력
* 여성(sex)들의 팁(tip)의 평균 출력
* 일요일(day)의 팁(tip)의 평균 출력
* 일요일(day), 남성(sex)의 팁(tip)의 평균 출력
* 일요일(day), 여성(sex)의 팁(tip)의 평균 출력

In [3]:
tips

     total_bill   tip     sex smoker   day    time  size
0         16.99  1.01  Female     No   Sun  Dinner     2
1         10.34  1.66    Male     No   Sun  Dinner     3
2         21.01  3.50    Male     No   Sun  Dinner     3
3         23.68  3.31    Male     No   Sun  Dinner     2
4         24.59  3.61  Female     No   Sun  Dinner     4
..          ...   ...     ...    ...   ...     ...   ...
239       29.03  5.92    Male     No   Sat  Dinner     3
240       27.18  2.00  Female    Yes   Sat  Dinner     2
241       22.67  2.00    Male    Yes   Sat  Dinner     2
242       17.82  1.75    Male     No   Sat  Dinner     2
243       18.78  3.00  Female     No  Thur  Dinner     2

[244 rows x 7 columns]

In [4]:
tips.shape

(244, 7)

In [5]:
tips.columns

Index(['total_bill', 'tip', 'sex', 'smoker', 'day', 'time', 'size'], dtype='object')

In [6]:
tips.iloc[:5] #> [0:5) 범위의 인덱스

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3
3       23.68  3.31    Male     No  Sun  Dinner     2
4       24.59  3.61  Female     No  Sun  Dinner     4

In [24]:
# tips.head() # >파라미터 n의 기본값은 5이므로 argument는 생략가능.

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3
3       23.68  3.31    Male     No  Sun  Dinner     2
4       24.59  3.61  Female     No  Sun  Dinner     4

In [7]:
tips.iloc[-5:] #> 마지막 5개 row들을 선택

     total_bill   tip     sex smoker   day    time  size
239       29.03  5.92    Male     No   Sat  Dinner     3
240       27.18  2.00  Female    Yes   Sat  Dinner     2
241       22.67  2.00    Male    Yes   Sat  Dinner     2
242       17.82  1.75    Male     No   Sat  Dinner     2
243       18.78  3.00  Female     No  Thur  Dinner     2

In [25]:
# tips.tail() #> 파라미터 n의 기본값은 5이므로 argument는 생략가능.

     total_bill   tip     sex smoker   day    time  size
239       29.03  5.92    Male     No   Sat  Dinner     3
240       27.18  2.00  Female    Yes   Sat  Dinner     2
241       22.67  2.00    Male    Yes   Sat  Dinner     2
242       17.82  1.75    Male     No   Sat  Dinner     2
243       18.78  3.00  Female     No  Thur  Dinner     2

In [8]:
tips.info #DataFrame의 요약 정보(summary)

<bound method DataFrame.info of      total_bill   tip     sex smoker   day    time  size
0         16.99  1.01  Female     No   Sun  Dinner     2
1         10.34  1.66    Male     No   Sun  Dinner     3
2         21.01  3.50    Male     No   Sun  Dinner     3
3         23.68  3.31    Male     No   Sun  Dinner     2
4         24.59  3.61  Female     No   Sun  Dinner     4
..          ...   ...     ...    ...   ...     ...   ...
239       29.03  5.92    Male     No   Sat  Dinner     3
240       27.18  2.00  Female    Yes   Sat  Dinner     2
241       22.67  2.00    Male    Yes   Sat  Dinner     2
242       17.82  1.75    Male     No   Sat  Dinner     2
243       18.78  3.00  Female     No  Thur  Dinner     2

[244 rows x 7 columns]>

In [9]:
tips.describe() #>기술통계량(Non-null 개수, 평균,표준편차,4사분위값,...)

       total_bill         tip        size
count  244.000000  244.000000  244.000000
mean    19.785943    2.998279    2.569672
std      8.902412    1.383638    0.951100
min      3.070000    1.000000    1.000000
25%     13.347500    2.000000    2.000000
50%     17.795000    2.900000    2.000000
75%     24.127500    3.562500    3.000000
max     50.810000   10.000000    6.000000

In [10]:
tips['total_bill'].value_counts()

13.42    3
13.81    2
15.98    2
17.92    2
10.07    2
        ..
24.71    1
21.16    1
28.97    1
22.49    1
18.78    1
Name: total_bill, Length: 229, dtype: int64

In [11]:
tips['tip'].value_counts()

2.00    33
3.00    23
4.00    12
5.00    10
2.50    10
        ..
4.34     1
1.56     1
5.20     1
2.60     1
1.75     1
Name: tip, Length: 123, dtype: int64

In [12]:
tips['sex'].value_counts()

Male      157
Female     87
Name: sex, dtype: int64

In [13]:
tips['smoker'].value_counts()

No     151
Yes     93
Name: smoker, dtype: int64

In [14]:
tips['day'].value_counts()

Sat     87
Sun     76
Thur    62
Fri     19
Name: day, dtype: int64

In [15]:
tips['time'].value_counts()

Dinner    176
Lunch      68
Name: time, dtype: int64

In [16]:
tips['size'].value_counts()

2    156
3     38
4     37
5      5
1      4
6      4
Name: size, dtype: int64

In [17]:
tips['total_bill'].max()

50.81

In [26]:
tips[tips['total_bill']== tips['total_bill'].max()]

     total_bill   tip   sex smoker  day    time  size
170       50.81  10.0  Male    Yes  Sat  Dinner     3

In [18]:
tips['total_bill'].min()

3.07

In [28]:
tips[tips.total_bill== tips.total_bill.max()]

     total_bill   tip   sex smoker  day    time  size
170       50.81  10.0  Male    Yes  Sat  Dinner     3

In [30]:
tips[(tips['sex']== 'Male')]['tip'].mean()

3.0896178343949052

In [31]:
tips[(tips['sex']== 'Female')]['tip'].mean()

2.833448275862069

In [37]:
tips[(tips['day']== 'Sun')]['tip'].mean()

3.255131578947369

In [38]:
tips[(tips['sex']== 'Male') & (tips['day']=='Sun')]['tip'].mean()

3.2203448275862083

In [39]:
tips[(tips['sex']== 'Female') & (tips['day']=='Sun')]['tip'].mean()

3.3672222222222223

In [36]:
tips.iloc[:3,:2] #앞에서 3개의 row와 앞에서 2개의 column을 선택

   total_bill   tip
0       16.99  1.01
1       10.34  1.66
2       21.01  3.50

In [35]:
tips.loc[:3, ['total_bill', 'tip']] #앞에서부터  레이블 3번까지 행, total_bill과 tip column만 선택

   total_bill   tip
0       16.99  1.01
1       10.34  1.66
2       21.01  3.50
3       23.68  3.31

# Titanic 데이터 셋

In [40]:
titanic = sns.load_dataset('titanic')

In [41]:
titanic

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone
0,0,3,male,22.0,1,0,7.2500,S,Third,man,True,NaN,Southampton,no,False
1,1,1,female,38.0,1,0,71.2833,C,First,woman,False,C,Cherbourg,yes,False
2,1,3,female,26.0,0,0,7.9250,S,Third,woman,False,NaN,Southampton,yes,True
3,1,1,female,35.0,1,0,53.1000,S,First,woman,False,C,Southampton,yes,False
4,0,3,male,35.0,0,0,8.0500,S,Third,man,True,NaN,Southampton,no,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
886,0,2,male,27.0,0,0,13.0000,S,Second,man,True,NaN,Southampton,no,True
887,1,1,female,19.0,0,0,30.0000,S,First,woman,False,B,Southampton,yes,True
888,0,3,female,NaN,1,2,23.4500,S,Third,woman,False,NaN,Southampton,no,False
889,1,1,male,26.0,0,0,30.0000,C,First,man,True,C,Cherbourg,yes,True
890,0,3,male,32.0,0,0,7.7500,Q,Third,man,True,NaN,Queenstown,no,True

titanic 데이터 프레임의 컬럼들 :

* survived: 생존 여부(0: 사망, 1: 생존)
 * alive 컬럼과 같은 내용.
* pclass: 객실 등급
 * class 컬럼과 같은 내용. (1=First, 2= Seconde,...)
* sex: 성별(male=man, female=woman)
* who : 성인남성(man), 성인여성(woman), 아동(child)
* age : 나이
* sibsp : 동승한 형제자매 또는 배우자 수
* parch : 동승한 부모 또는 자녀 수
* fare : 탑승권 가격
* embarked : 탑승항

In [ ]:
#요약 정보
titanic.info()

In [47]:
# 생존자/사망자 숫자
titanic['survived'].value_counts()

0    549
1    342
Name: survived, dtype: int64

In [90]:
len(titanic[titanic.alive == 'yes'])  # len(data_frame): row 개수를 리턴.

342

In [88]:
# 남성/여성 숫자
titanic['sex'].value_counts()

male      577
female    314
Name: sex, dtype: int64

In [48]:
# 객실 등급의 승객 숫자
titanic['pclass'].value_counts()

3    491
1    216
2    184
Name: pclass, dtype: int64

In [ ]:
# 생존자 비율 = 생존자 수 / 전체 승객 수
no_alives = len(titanic[titanic.alive == 'yes'])
no_passengers = len(titanic)
no_alives / no_passengers

In [ ]:
# 사망자 비율 = 사망자 수 / 전체 승객 수
no_deads = len(titanic[titanic.alive == 'no'])
no_deads / no_passengers

In [91]:
titanic['survived'].value_counts()/ len(titanic)

0    0.616162
1    0.383838
Name: survived, dtype: float64

In [ ]:
# 생존자들로만 이루어진 데이터프레임
alives_df = titanic[titanic.alive == 'yes']
alives_df

In [ ]:
# 생존자들 중에서 남성 생존자 승객 비율
len(alives_df[alives_df.sex == 'male']) / len(alives_df)

In [ ]:
# 생존자들 중에서 여성 생존자 승객 비율
len(alives_df[alives_df.sex == 'female']) / len(alives_df)

In [89]:
#Series와 Series의 사칙연산은 같은 인덱스의 원소들끼리 element-wise수행된다.
# 벡터와 행렬에서 같은 위치에 있는 원소끼리 덧셈과 뺄셈을 하면 된다. 
# 이러한 연산을 요소별(element-wise) 연산이라고 한다.

# 생존자들 중에서 남성 생존자 / 여성생존자 승객 비율

alives_df.sex.value_counts()/len(alives_df)

female    0.681287
male      0.318713
Name: sex, dtype: float64

In [93]:
# 남성 승객들로 이루어진 DataFrame
male_df = titanic[titanic.sex == 'male']

# 남성 승객들 중에서 남성 생존자 비율
male_df.alive.value_counts() / len(male_df)

no     0.811092
yes    0.188908
Name: alive, dtype: float64

In [94]:
len(male_df[male_df.alive == 'yes']) / len(male_df)

0.18890814558058924

In [ ]:
# 여성 승객들로만 이루어진 DataFrame
female_df = titanic[titanic.sex == 'female']

# 여성 승객들 중에서 여성 생존자 비율
female_df.alive.value_counts() / len(female_df)

In [109]:
# 생존자들 중에서 각 객실별 생존자 비율

alives_df.pclass.value_counts()/len(alives_df)

1    0.397661
3    0.347953
2    0.254386
Name: pclass, dtype: float64

In [110]:
# 1등급 객실 승객들 중에서 생존자 비율

#1등급 객실 승객들로만 이루어진 데이터프레임
first_df = titanic[titanic['class'] == 'First']

first_df.alive.value_counts()/ len(first_df)

yes    0.62963
no     0.37037
Name: alive, dtype: float64

In [121]:
# 12세 미만의 승객수

child_df = titanic[titanic.age <12]
len(child_df)

68

In [117]:
# 12세 미만 승객들 중에서 생존자 비율

child_df.alive.value_counts() / len(child_df)

#value_counts()는 각 종류별로 몇 개의 데이터가 있는지 세어주는것
#len () 구성 요소 개수 반환

yes    0.573529
no     0.426471
Name: alive, dtype: float64