# Imports

In [ ]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

# SPX 데이터 프레임

In [ ]:
spx_csv='https://github.com/wesm/pydata-book/raw/2nd-edition/examples/spx.csv'

In [ ]:
spx = pd.read_csv(spx_csv,sep=',')

In [ ]:
spx.head()

                  Date     SPX
0  1990-02-01 00:00:00  328.79
1  1990-02-02 00:00:00  330.92
2  1990-02-05 00:00:00  331.85
3  1990-02-06 00:00:00  329.66
4  1990-02-07 00:00:00  333.75

In [ ]:
spx.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5472 entries, 0 to 5471
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Date    5472 non-null   object
 1   SPX     5472 non-null   float64
dtypes: float64(1), object(1)
memory usage: 85.6+ KB

In [ ]:
spx['year'] = spx['Date'].str[:4].astype(int)

In [ ]:
spx['year_month']=spx['Date'].str[:7]

In [ ]:
spx.head()

                  Date     SPX  year year_month
0  1990-02-01 00:00:00  328.79  1990    1990-02
1  1990-02-02 00:00:00  330.92  1990    1990-02
2  1990-02-05 00:00:00  331.85  1990    1990-02
3  1990-02-06 00:00:00  329.66  1990    1990-02
4  1990-02-07 00:00:00  333.75  1990    1990-02

In [ ]:
spx.groupby('year')['SPX'].mean()

year
1990     334.123506
1991     376.186324
1992     415.747008
1993     451.614822
1994     460.416508
1995     541.719087
1996     670.494843
1997     873.427787
1998    1085.503254
1999    1327.329563
2000    1427.221071
2001    1194.178992
2002     993.934802
2003     965.227540
2004    1130.649444
2005    1207.229444
2006    1310.461633
2007    1477.184343
2008    1220.042055
2009     948.046389
2010    1139.965516
2011    1276.093015
Name: SPX, dtype: float64

* Date 컬럼의 데이터 타입이 문자열인 경우 주기별(연도별,분기별,월별,...)통계를 계산하기 위해서는 
* 문자열을 파싱(parsing)해서 파생변수를 추가하고 groupby연산을 수행해야 함.
* 날짜/시간을 표현하는 데이터인 경우 데이터 타입을 datetime타입으로 변환하면, 주기별 통계를 보다 쉽게 수행할 수 있음.

In [ ]:
# 컬럼 삭제
# spx.drop(행=index, 컬럼=columns)

In [ ]:
spx.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5472 entries, 0 to 5471
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Date    5472 non-null   object
 1   SPX     5472 non-null   float64
dtypes: float64(1), object(1)
memory usage: 85.6+ KB

In [ ]:
# Date 컬럼의 타입(dtype)을 문자열(object)에서 날짜시간(datetime)으로 변환
spx['Date'] = pd.to_datetime(spx['Date'])

In [ ]:
spx.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5472 entries, 0 to 5471
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Date    5472 non-null   datetime64[ns]
 1   SPX     5472 non-null   float64
dtypes: datetime64[ns](1), float64(1)
memory usage: 85.6 KB

In [ ]:
# Date 컬럼을 인덱스로 변환
# 날짜시간 타입에서 주기별(연도별, 분기별, ...) 통계를 계산하기 위해서는
# 인덱스가 날짜시간 타입 인덱스를 가져야 하기 때문에.
spx_with_index = spx.set_index('Date')
spx_with_index

                SPX
Date
1990-02-01   328.79
1990-02-02   330.92
1990-02-05   331.85
1990-02-06   329.66
1990-02-07   333.75
...             ...
2011-10-10  1194.89
2011-10-11  1195.54
2011-10-12  1207.25
2011-10-13  1203.66
2011-10-14  1224.58

[5472 rows x 1 columns]

In [ ]:
# 연도별 SPX 평균
spx_with_index.resample('Y')['SPX'].mean()
#groupby == resample

Date
1990-12-31     334.123506
1991-12-31     376.186324
1992-12-31     415.747008
1993-12-31     451.614822
1994-12-31     460.416508
1995-12-31     541.719087
1996-12-31     670.494843
1997-12-31     873.427787
1998-12-31    1085.503254
1999-12-31    1327.329563
2000-12-31    1427.221071
2001-12-31    1194.178992
2002-12-31     993.934802
2003-12-31     965.227540
2004-12-31    1130.649444
2005-12-31    1207.229444
2006-12-31    1310.461633
2007-12-31    1477.184343
2008-12-31    1220.042055
2009-12-31     948.046389
2010-12-31    1139.965516
2011-12-31    1276.093015
Freq: A-DEC, Name: SPX, dtype: float64

In [ ]:
# 분기별 SPX 평균
spx_with_index.resample('Q')['SPX'].mean()

Date
1990-03-31     334.751951
1990-06-30     349.796508
1990-09-30     335.881746
1990-12-31     316.562031
1991-03-31     352.282951
                 ...
2010-12-31    1204.585625
2011-03-31    1302.529032
2011-06-30    1318.332857
2011-09-30    1225.268438
2011-12-31    1171.356000
Freq: Q-DEC, Name: SPX, Length: 88, dtype: float64

In [ ]:
# 월별 SPX 평균
spx_with_index.resample('M')['SPX'].mean()

Date
1990-02-28     330.452632
1990-03-31     338.465000
1990-04-30     338.178000
1990-05-31     350.250000
1990-06-30     360.386667
                 ...
2011-06-30    1287.288636
2011-07-31    1325.184500
2011-08-31    1185.305652
2011-09-30    1173.879048
2011-10-31    1171.356000
Freq: M, Name: SPX, Length: 261, dtype: float64

In [ ]:
# 일별 SPX 평균
spx_with_index.resample('D')['SPX'].mean()

Date
1990-02-01     328.79
1990-02-02     330.92
1990-02-03        NaN
1990-02-04        NaN
1990-02-05     331.85
               ...
2011-10-10    1194.89
2011-10-11    1195.54
2011-10-12    1207.25
2011-10-13    1203.66
2011-10-14    1224.58
Freq: D, Name: SPX, Length: 7926, dtype: float64

# exclude

In [ ]:
# read_csv() 함수의 parse_dates 파라미터: 날짜시간(datetime)타입으로 분석할 컬럼 이름(들).
# 컬럼이 어떤 타입인지 알고 있다면, 불러올때부터 날짜타입으로 변경 해 줄 수 있다.
spx= pd.read_csv(spx_csv, parse_dates=['Date'])
spx.head()

        Date     SPX
0 1990-02-01  328.79
1 1990-02-02  330.92
2 1990-02-05  331.85
3 1990-02-06  329.66
4 1990-02-07  333.75

In [ ]:
spx.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5472 entries, 0 to 5471
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Date    5472 non-null   datetime64[ns]
 1   SPX     5472 non-null   float64
dtypes: datetime64[ns](1), float64(1)
memory usage: 85.6 KB

In [ ]:
# read_csv() 함수의 index_col 파라미터 : DataFrame에서 인덱스로 사용할 컬럼(들)의 리스트.
# set_index까지 가능한 read_csv!
spx= pd.read_csv(spx_csv, parse_dates=['Date'], index_col=['Date'])
spx.head()

               SPX
Date
1990-02-01  328.79
1990-02-02  330.92
1990-02-05  331.85
1990-02-06  329.66
1990-02-07  333.75